<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/head.ejs %>
    </head>

    <body>
        <% include templates/header.ejs %>

        <section class="services-section">
            <div class="container">
                <h2 class="page-heading">Reliable and Customized</h2>
                <p>
                    Acctwell offers professional and reliable services, tailored to suit your individual situation. We offer in-depth consultations to understand your goals and current situation, as well as to craft a long-term solution that is right for you.
                </p>
                <p>
                    Our services are customized and affordable. We made payroll very simple and easy for all business. Our payroll reports are customized and very easy to read.
                </p>

                <p>
                    We manage all  payroll filing and tax payments for our clients and make sure our client's business in complience. We take the responsibility for accuracy and ensue our clients for on-time filing and tax payments. We also take the responsibilty for late filing and penalties.
                </p>
                <h2 class="page-heading">Our Services</h2>

                <% include templates/services-accordian.ejs %>
            </div>
        </section>

        <% include templates/footer.ejs %>


        <% include templates/scripts.ejs %>
    </body>
</html>
